body, html{
  height: 100%;
  margin: 0;
  overflow: auto;
}
body{
  background-image: url(https://www.tuttocampo.it/Web/Images/News/Original/1241214.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contenitore{
border: none;
height: 600px;
position: relative;
text-align: center;
width: 800px;
margin-right: auto;
margin-left: auto;
background-color: lightgrey;
border-radius: 10px;
border: 2px solid black;
}
.scheda{
margin-right: auto;
margin-left: auto;
padding-top: 10%;
height: 600px;
left: 0px;
padding: 0px;
position: absolute;
text-align: center;
top: 0px;
width: 400px;
border-right: 2px solid black;
}
.modifica{
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  height: 600px;
  padding: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 400px;
  left: 400px;
}
ul{
  list-style-type: disc;
  list-style-position: inside;
  line-height: 40px;
  padding-left: 0px;
  padding-left: 15px;
}
.codice{
  overflow: Auto;
    background-color: #EEEEEE;
    color: #000000;
    font: Normal 12px Verdana;
    width: 350px;
    height: 400px;
    margin: 0px;
    padding: 5px;
    border: Solid 1px #000000;
    border-radius: 5px;
    scrollbar-base-color: #000000;
    scrollbar-arrow-color: #CCCCCC;
    scrollbar-track-color: #CCCCCC;
    margin-left: 20px;
}
.modifica1{
  margin-top: 40%;
  text-align: left;
  padding-left: 20px;
  line-height: 40px;
}
.modifica1 select{
  width: 40%;
}
.modifica1 input[type="text"]{
  padding: 8px;
  font-size: 10px;
  border-radius: 5px;
  width: 55%;
}
label{
  font-family: "Verdana", sans-serif;
}
input[value="Invia"]{
  width: 40%;
  text-align: center;
  margin-left: 30%;
}
h1{
  font-size: 25px;
}
