*{
  box-sizing: border-box;
  overflow: hidden;


}
body, html{
  height: 100%;
  margin: 0;

}
body{
  background-image: url(https://www.nicepng.com/png/detail/46-468209_tall-grass-nature-transparent-background-grass-png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




h1{
  font-size: 20px;
}




.contenitore1{
  position: relative;
   width: 800px;
   height: 400px;
   z-index: 20;
   top: 20%;

   margin-left: auto;
   margin-right: auto;

    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.top{
  float: left;
  margin-top: 0;
  margin-left: 0;

}

table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

tr:first-child{
  font-weight: bold;
  font-size: 20px;
}

tr:nth-child(2){
  font-size: 100px;
  font-weight: bolder;
  height: 450px;
  vertical-align: middle;
}
tr{
  border-right: 2px solid black;

}
td:last-child{
  border: none;
}
