*{
  box-sizing: border-box;
  overflow: hidden;


}
body{
  width: 100%;
  margin: 0;
  background-image: url(https://www.nicepng.com/png/detail/46-468209_tall-grass-nature-transparent-background-grass-png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.col1{

  margin: 0;
  overflow: hidden;
  height: 800px;
  float: left;
  width: 33.33%;
  background-color: transparent;
  text-align: center;

}

.col2{
    margin: 0;
    overflow: hidden;
    height: 800px;
    float: left;
    width: 33.33%;
    background-color: transparent;
    text-align: center;


}
.col3{

    margin: 0;
    overflow: hidden;
    height: 800px;
    float: left;
    width: 33.33%;
    background-color: transparent;
    text-align: center;

}

h1{
  font-size: 20px;
}

#valorecl{
  top: 5%;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}



.contenitore1{
  position: fixed;
   width: 350px;
   height: 400px;
   z-index: 20;
   top: 40%;
   left: 15%;
   margin: -130px 0 0 -170px;

    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}




.contenitore2{
  position: fixed;
   width: 350px;
   height: 400px;
   z-index: 20;
   top: 40%;
   left: 50%;
   margin: -130px 0 0 -170px;

    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.contenitore3{
  position: fixed;
   width: 350px;
   height: 400px;
   z-index: 20;
   top: 40%;
   left: 83%;
   margin: -130px 0 0 -170px;

    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.col1 input[type="button"]{
  margin-left: 10px;
}

.top{
  z-index: 40;
  text-align: left;

}
