* {box-sizing: border-box;}
body, html{
  height: 110%;
  margin: 0;
  overflow: hidden;
}

body{
  background-image: url(https://www.nicepng.com/png/detail/46-468209_tall-grass-nature-transparent-background-grass-png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #4CAF50;
  opacity: 0.7;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a, input[type="text"] {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */



h1{
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-style: italic;


}


.profilo{
  position: relative;
  height: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}
#btnlogout{
  margin-left: 5px;
  margin-top: 5px;
}
img{
  float: left;
  width: 300px;
  height: 300px;
}

table, th, td {
  padding: 5px;
  background-color: white;
}
table {
  border-spacing: 15px;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

td{
  font-family: Arial, sans-serif;
}


a{
  line-height: 20px;
}
